{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey there! I’m Yon, the voice behind this blog. Welcome to Yon's Blog,
          where I share my passion for Blogs,
          Whether you're here for Programming Blogs., travel stories, book reviews, or tech insights, you’ve come to the right place!
        </p>
        <p>
          Welcome to My journey into the world of blogging. I’ve always been fascinated by Blogs and the information that they give you, and I decided to create this space to let anyone share his thoughts on blogs. From The life of cactus Blog
          to Cyber Security Startup.

        </p>
        <p>
          Enjoy!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
